@model Mathimize.com.Models.BasicArithmeticResultViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_WebsiteFramedLayout.cshtml";
}
@section Header {
    <script type="text/javascript">
        $(document).ready(function () {
            $("#btnTens").click(function () {
                window.location = "/Addition/Tens";
            });
            $("#btnDoubles").click(function () {
                window.location = "/Addition/Doubles";
            });
            $("#btnBasicAddition").click(function () {
                window.location = "/Addition/BasicAddition";
            });
        });
    </script>
}

    <div class="border padded_border">
    <div class="section_header">
        <h3>Addition</h3>
    </div>
    <p>How fast is your kid doing Additions? Does he still use his fingers? How long does he take to answer 8 + 7? </p>
    <p> 
    
    Automatic recall of basic math facts (math fluency) is generally considered a key foundation for higher level math skills.
    </p>
    <p> 
    My eldest can do multiple digits Addition. But that's not what we work on. Our drills consist of 63 single digit operations under 5 minutes. The goal is not to teach him Math, but to make him fluent in Math. He needs to memorize the basic math facts and be able to automatically retrieve them. I want Math to be like a second language for him. 
    </p>
    
    <h6>Shortcuts</h6>
    <p>
    I want him to learn and use shortcuts. I want him solve 99 + 99 by knowing that 99 + 99 = 100 + 100 - 2 = 98. The more Math facts he memorizes, the more shortcuts he'll be able to find.
    
    </p>
    <h6>Timed</h6>
    <p>

     You don't have to, but all these worksheets should be timed. Obviously, the time will vary for each kid, but set a realistic goal for your kid and aim to improve that time with practice and over time. Give him rewards for meeting the goal. Make it a game. Make it fun. Make him enjoy Math, not hate it.
     </p>
    
    <h6>Tens</h6>
    <p>
        My youngest is still in Kinder. He can do single digits, but he still uses his fingers. So we work on the more basic stuff. He should first memorize what I call, the "Tens." <br />
        Have him practice:<br />
        8 + ___ = 10<br />
        3 + ___ = 10
        <br />etc. The goal is to memorize all the ways numbers add up to 10.
        <br />
        <br />
        <input type="button" class="btn-inverse btn-block" value="Create [Tens] Worksheet" id="btnTens" />
    </p>
    <h6>Doubles</h6>
    <p>
        Next, work on "Doubles."
        <br />
        As important as the "Tens", have him work on and memorize all the basic Doubles: 
        <br />4 + 4 = ___
        <br />8 + 8 = ___
        <br />7 + 7 = ___
        <br />9 + 9 = ___
        <br />etc.

        <br /><br />
        <input type="button" class="btn-inverse btn-block" value="Create [Doubles] Worksheet" id="btnDoubles" />
    </p>

    <h6>Basic Addition</h6>
    <p>
        Once he knows the Tens and Doubles, he should be ready to quickly do any single digit operations. Work with him. I look over their shoulder to notice the ones they're spending the most time on. <br />
        This is also a great opportunity to teach him the shortcuts. If he has trouble with 7 + 8, try to teach him:<br />
        "Do you remember what 7 + 7 is? So, 8 + 7 = 7 + 7 + 1."
        <br /><br/>
        <input type="button" class="btn-inverse btn-block" value="Create [Basic Addition] Worksheet" id="btnBasicAddition" />
    </p>
    </div>
