@model Mathimize.com.Models.BasicArithmeticResultViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <h3>
        @Model.Op</h3>
    
    @{
        if (Model != null && Model.Terms != null)
        {
        
            int i = 0;

            for (int r = 0; r < Model.Rows; r++)
            {
        <div class="row">
            @for (int c = 0; c < Model.Cols; c++)
            {
                <div class="span1 border math_box">
                    @Html.Partial("_" + Model.Op + "Result", Model.Terms[i++])
                </div>
                    
            }
        </div>
            }

        }


    }
</div>
