@model Mathimize.com.Models.AMmathimizeViewModel
           
@{
        if (Model != null && ((Mathimize.com.Models.TimeResultViewModel)Model).HourMinutes != null)
        {
        
        
            int i = 0;

            for (int r = 0; r < Model.Rows; r++)
            {
        <div class="row">
            @for (int c = 0; c < Model.Cols; c++)
            {
                <div class="span2 border time_box">

                    @(((Mathimize.com.Models.TimeResultViewModel)Model).HourMinutes[i++].Hour) : 30
                    <img src="../../images/clockface.gif" />
                </div>
                    
            }
        </div>
            }

        }


    }