@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Header
{
    <script src="@Url.Content("~/Scripts/Mathimize/CustomValidation.js")" type="text/javascript"></script>
    @RenderSection("Header", false)
}
<div class="container">
    @Html.Partial("_TopNavBar")
    <div class="row">
        <div class="span3">
            <ul class="nav nav-list bs-docs-sidenav">
                <li class="nav-header">Addition</li>
                <li><a href="/Addition/Tens"><i class="icon-chevron-right"></i>Tens</a></li>
                <li><a href="/Addition/Doubles"><i class="icon-chevron-right"></i>Doubles</a></li>
                <li><a href="/Addition/BasicAddition"><i class="icon-chevron-right"></i>Basic Addition</a></li>
                <li><a href="#"><i class="icon-chevron-right"></i>Word Problems</a></li>
                
                <li class="nav-header">Subtraction</li>
                
                <li><a href="#"><i class="icon-chevron-right"></i>Simple Subtraction</a></li>
                <li><a href="#"><i class="icon-chevron-right"></i>Doubles</a></li>
                <li><a href="#"><i class="icon-chevron-right"></i>Tens</a></li>

                <li class="nav-header">Time</li>
                <li><a href="/Time/OClocks"><i class="icon-chevron-right"></i>O' Clocks</a></li>
                <li><a href="/Time/Halves"><i class="icon-chevron-right"></i>Halves</a></li>
                
                <li class="nav-header">Money</li>
                <li class="nav-header">Fractions</li>


            </ul>
        </div>
        <div class="span9">
            <!--Body content-->
            @RenderBody()
            @*<input type="text" placeholder="Text input">
                <div class="input-append">
                    <input class="span2" id="appendedInputButton" type="text">
                    <button class="btn" type="button">
                        Go!</button>
                    <br />
                    <svg version="1.1" width="400" height="300">
						<circle cx="135" cy="60" r="53" fill="white" stroke="#cccccc" stroke-width="2"></circle>
						<line x1="35" y1="60" x2="235" y2="60" stroke="#bbbbbb" stroke-width="2"></line>
					</svg>
                </div>*@
        </div>
    </div>
</div>
