@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Header{
    @RenderSection("Header", false)
}
<body class="pull_top">
    <div class="navbar transparent navbar-inverse navbar-fixed-top">
    @Html.Partial("_TopNavBar")
    </div>
    @RenderBody()
   @Html.Partial("_Footer")
    
    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-325815-8']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

    </script>
</body>
