@model Mathimize.com.Models.AMmathimizeViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <h3>shared 
        @Model.Op</h3>
    
    @Html.Partial("_" + Model.Op + "Result", Model)
</div>
