@{
    ViewBag.Title = "About Us";
    Layout = "~/Views/Shared/_WebsiteFramedLayout.cshtml";
    
}

     <div class="border padded_border">

    <div class="section_header">
        <h3>About Mathimize</h3>
    </div>

        <p>You can reach me at <a href="mailto:mathimize@iw4n.com">mathimize@iw4n.com</a></p>
        <p>
        I would love to hear suggestions for new worksheets and what you think of this site in general.
        </p>
     </div>
